@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus-visible,
a:focus-visible,
select:focus-visible,
input:focus-visible {
  outline: 3px solid #0ea5e9 !important;
  outline-offset: 2px !important;
}

